APP_NAME=IFFI-GOA
APP_ENV=local
APP_KEY=base64:u1NWz+nnvfO734kha5ZXx9zkns6/1LbOXFwgfqYXV9E=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost/iffi-goa

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=sqlite
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iffi_goa
DB_USERNAME=root
DB_PASSWORD=
DB_STRICT_MODE=false
DB_TIMEZONE="+05:30"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# GOOGLE STORAGE
GOOGLE_CLOUD_PROJECT_ID=iffi-goa-429607
GOOGLE_CLOUD_STORAGE_BUCKET=iffi-goa-public-bucket-0001
GOOGLE_APPLICATION_CREDENTIALS=service-account.json
GOOGLE_CLOUD_STORAGE_PATH_PREFIX=uploads
GOOGLE_CLOUD_STORAGE_API_URI=https://storage.googleapis.com/%s/uploads/%s

# IMAGE UPLOAD BASE URLS
IMAGE_UPLOAD_BASE_URL=https://iffigoa.org/public/

IMAGE_LIST_BASE_URL=https://iffigoa.org/api/list-image-from-folder
UPLOAD_IMAGE_BASE_URL=https://iffigoa.org/api/upload-image-in-folder
DELETE_IMAGE_BASE_URL=https://iffigoa.org/api/delete-image-from-folder

PEACOCK_POSTER_DESTINATION='images/thePeacock/poster'
MASTER_CLASS_DESTINATION='images/master-class/webp'
INDIAN_PANORAMA='images/indian-panorama-cinema'
INTERNATIONAL_CINEMA='images/cureted-section'
PEACOCK_PDF_DESTINATION='images/thePeacock'
HIGHLIGHT_DESTINATION='images/highlights'
NEWS_AND_UPDATE='images/news-update/webp'
JURY_IMAGE_DESTINATION='images/juries'
FESTIVAL_VENUE='images/festival-venue'
CUBE_DESTINATION='images/cube/webp'
PRESS_RELEASE='press_release'
GALLERY='images/gallery'